<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
?>
<?php
/**
 * @var $block \Resursbank\Checkout\Block\Js
 */
?>

<style type="text/css">
    <?php if ($block->isLoadingMaskHidden()): ?>
    body > .loading-mask {
        display: none !important;
    }
    <?php endif; ?>

    <?php if ($block->isShippingLoadingMaskHidden()): ?>
    .checkout-shipping-method .loading-mask {
        display: none !important;
    }
    <?php endif; ?>
</style>

<script>
    require([
        // 'jquery',
        'domReady',
        'Resursbank_Checkout/js/main'
        //'<?php //echo $block->getApiModel()->getSessionIframeScript(); ?>//'
    ], function(
        // $,
        domReady,
        Checkout
    ) {
        domReady(function () {
            Checkout.init({
                baseUrl: '<?php echo $block->getBaseUrl(); ?>',
                failureUrl: '<?php echo $block->getApiModel()->getFailureCallbackUrl() ?>',
                successUrl: '<?php echo $block->getApiModel()->getSuccessCallbackUrl() ?>',
                formKey: '<?php echo $block->escapeHtml($block->getFormKey()); ?>',
                methodSuffix: '<?php echo $block->getMethodSuffix() ?>',
                moduleUrl: 'resursbank_checkout',
                iframe: '<?php echo $block->getApiModel()->getSessionIframeHtml();?>',
                iframeUrl: '<?php echo $block->getApiModel()->getIframeUrl(); ?>',
                origin: '<?php echo $block->getApiModel()->getSessionIframeOrigin(); ?>',
                script: '<?php echo $block->getApiModel()->getSessionIframeScript(); ?>'
            });
        });
    });
</script>
