<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
?>
<?php
/**
 * @var $block Resursbank\Checkout\Block\Frontend\PartPayment
 * @var $this Resursbank\Checkout\Block\Frontend\Checkout\PartPayment
 */

/** @var Resursbank\Checkout\ViewModel\Frontend\Checkout\PartPayment $viewModel */
$viewModel = $block->getViewModel();
$price = $this->getGrandTotal();
?>

<?php if ($this->isEnabled() && $this->isValidPrice($price)): ?>
    <div class="resursbank-checkout-part-payment-info"
        data-bind="scope: 'part-payment'">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>

    <script>
        require([
            'Resursbank_Checkout/js/lib/server',
            'Resursbank_Checkout/js/view/checkout/part-payment.model'
        ], function(
            Server,
            Model
        ) {
            Server.init({
                baseUrl: '<?php echo $block->getBaseUrl() ?>',
                formKey: '<?php echo $block->escapeHtml($viewModel->getFormKey()) ?>',
                moduleUrl: 'resursbank_checkout'
            });

            Model.init({
                suggestedPrice: parseFloat('<?php echo $block->getSuggestedPartPaymentPrice($price) ?>'),
                duration: parseFloat('<?php echo $block->getDuration() ?>')
            });
        });
    </script>

    <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "part-payment": {
                            "component": "Resursbank_Checkout/js/view/checkout/part-payment",
                            "logoUrl": "<?php echo $block->getLogotype() ?>"
                        }
                    }
                }
            }
        }
    </script>
<?php endif; ?>
