<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
?>
<?php
/**
 * @var $this \Resursbank\Checkout\Block\Frontend\Catalog\Product\PartPayment
 */

$price = $this->getPrice();
?>

<div class="resursbank-checkout-part-payment-info">
    <?php if ($this->isEnabled() && $this->isValidPrice($price)): ?>
        <img 
            src="<?php echo $block->getViewFileUrl('Resursbank_Checkout::images/resurs-bank-logo.png'); ?>" 
            class="resursbank-checkout-part-payment-logo"    
        />
        <span class="resursbank-checkout-part-payment-price">
            <?php echo $this->getSuggestedPartPaymentPrice($price); ?>
        </span>
         –
        <span>
            <?php echo __('%1 months', $this->getDuration()); ?>
        </span>
         –
        <span>
            <a href="#modal"><?php echo __('Read More') ?></a>
            <div class="remodal-bg">
                <div class="remodal resursbank-modal" data-remodal-id="modal">
                    <button data-remodal-action="close" class="remodal-close"></button>
                    <h1>Resurs Bank - <?php echo __('Part Payment') ?></h1>
                    <?php echo $this->getPurchaseCostHtml(); ?>
                </div>
            </div>
        </span>
    <?php endif; ?>
</div>
