<!--
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: function () { selectPaymentMethod(); updatePaymentFee(); return true; }, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label"><span data-bind="text: getTitle()"></span></label>
        <!-- ko if: isSwishMethod -->
        <img data-bind="attr: { src: swishLogo }">
        <!-- /ko -->
        <!-- ko if: isCreditCardMethod -->
        <img data-bind="attr: { src: creditCardLogo }">
        <!-- /ko -->
        <!-- ko if: isResursInternalMethod() -->
        <img data-bind="attr: { src: resursBankLogo }">
        <!-- /ko -->
    </div>
    <div class="payment-method-content">
        <div class="remodal-bg">
            <div class="remodal resursbank-modal"
                 data-bind="attr: {'data-remodal-id': remodalId}">
                <button data-bind="attr: {'data-remodal-id': remodalId + '-close-btn'}"
                        data-remodal-action="close"
                        class="remodal-close">
                </button>
                <div>
                    <div class="resursbank-loader"
                         data-bind="css: {'resursbank-hide': hideRemodalLoader},
                                    attr: {id: getCode() + '-loader'}"></div>
                    <div bindHtml="remodalData"
                         data-bind="attr: {id: getCode() + '-content'}"></div>
                </div>
            </div>
            <!-- ko if: isResursReadMore() -->
            <a style="cursor:pointer; font-weight:bold;"
               data-bind="attr: {'data-remodal-target': remodalId},
                          event: {click: bindRemodal},
                          i18n: 'Read More'">
            </a>
            <!-- /ko -->
        </div>

        <!-- ko if: hasSsnField -->
        <div class="resursbank-payment-method-ssn resursbank-payment-method-input field required" data-bind="css: {_error: invalidIdNumber }">
            <label class="label" data-bind="attr: {for: getCode() + '-id-number'}">
                <span data-bind="text: idFieldLabel"></span>
            </label>
            <input type="text"
                   name="payment[ssn]"
                   class="input-text"
                   data-bind="attr: {
                   id: getCode() + '-id-number',
                   disabled: disableIdNumber
                   },
                   value: idNumber,
                   event: {change: onIdNumberFieldChange},
                   valueUpdate: 'blur'">
            <!-- ko if: invalidIdNumber() -->
            <div class="field-error">
                <span data-bind="i18n: 'Wrong SSN/Org. number.'"></span>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko if: isCompanyCustomer() -->
        <div class="resursbank-payment-method-contact-ssn resursbank-payment-method-input field required" data-bind="css: {_error: invalidContactId }">
            <label class="label" data-bind="attr: {for: getCode() + '-contact-id'}">
                <span data-bind="i18n: 'Contact / Reference SSN'"></span>
            </label>
            <input type="text"
                   class="input-text"
                   data-bind="value: contactId,
                   attr: {
                   id: getCode() + '-contact-id',
                   disabled: disableContactId
                   },
                   event: {change: onContactIdFieldChange},
                   valueUpdate: 'blur'">
            <!-- ko if: invalidContactId() -->
            <div class="field-error">
                <span data-bind="i18n: 'Wrong SSN/Org. number.'"></span>
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->

        <!-- ko if: hasCardAmount -->
        <div class="resursbank-payment-method-card-amount">
            <label class="label"
                   data-bind="attr: {for: getCode() + '-card-amount'}">
                <span data-bind="i18n: 'Preferred credit limit'"></span>
            </label>
            <select data-bind="foreach: cardAmountOptions,
                    event: {change: onCardAmountChange},
                    attr: {
                    id: getCode() + '-card-amount',
                    disabled: disableCardAmount
                    }">
                <option data-bind="text: text, value: value"></option>
            </select>
        </div>
        <!-- /ko -->

        <!-- ko if: requiresCardNumber() -->
        <div class="resursbank-payment-method-card-number resursbank-payment-method-input field required" data-bind="css: {_error: invalidCardNumber}">
            <label class="label" data-bind="attr: {for: getCode() + '-card-number'}">
                <span data-bind="i18n: 'Card Number'"></span>
            </label>
            <div class="control">
                <input type="text"
                       class="input-text"
                       name="payment[card_num]"
                       data-bind="attr: {
                       id: getCode() + '-card-number',
                       disabled: disableCardNumber
                       },
                       value: cardNumber,
                       event: {change: onCardNumberFieldChange},
                       valueUpdate: 'blur'">

                <!-- ko if: invalidCardNumber() -->
                <div class="field-error">
                    <span data-bind="i18n: 'Wrong card number.'"></span>
                </div>
                <!-- /ko -->
            </div>
        </div>
        <!-- /ko -->

        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: resursBankPlaceOrder,
                        attr: {
                            disabled: !canPlaceOrder()
                        }"
                    >
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
