/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

#resursbank-checkout-order-view-info {
    width: 100%;
    background-image: url(i/logo.png);
    background-position: right 20px top 20px;
    background-repeat: no-repeat;
    -webkit-background-size: 170px 60px;
    background-size: 170px 60px;
    background-color: #afe3f9;
    margin-bottom: 20px;
}

#resursbank-checkout-order-view-info .content {
    padding:20px 20px 20px 20px;
}

#resursbank-checkout-order-view-info h3 {
    padding-bottom:10px;
}

#resursbank-checkout-order-view-info .content .field-group-customer {
    margin-top:20px;
    padding-top:20px;
    border-top:1px dashed #85CAE8;
}

#resursbank-checkout-order-view-info .content .fields {
    width:450px;
}

#resursbank-checkout-order-view-info .content .fields .field {
    padding:5px;
    list-style: none;
}

#resursbank-checkout-order-view-info .content .fields .field:nth-child(odd) {
    background:#85CAE8;
}

#resursbank-checkout-order-view-info .content .fields .field .field-label {
    display: inline-block;
    font-weight: bold;
    margin-right:15px;
    width: 100px;
    vertical-align: top;
}

#resursbank-checkout-order-view-info .content .fields .field .field-value {
    display: inline-block;
    width:325px;
}

#resursbank-checkout-order-view-info .content .error-message {
    color: #bc1515;
}

#row_resursbank_checkout_callback_url_list .error-message {
    color: #bc1515;
}

ul > li.no-style-type {
    list-style-type: none;
}

/*  ============================================================
    Payment method config section.
    ============================================================ */
.resursbank-methods-top-section > .entry-edit-head.admin__collapsible-block {
    border-bottom: 0;
}

.resursbank-methods-top-section.active > .entry-edit-head.admin__collapsible-block {
    border-bottom: 1px solid #ccc;
}

.resursbank-methods-top-section > .admin__collapsible-block > a {
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: uppercase;
}

/*
    =======================================================================

    Payment history modal.

    =======================================================================
 */
#resursbank-checkout-payment-history-modal-content {
    text-align: left;
}

#resursbank-checkout-payment-history-modal-content .buttons {
    padding: 100px 0 10px 0;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
}

#resursbank-checkout-payment-history-modal-content .footer {
    margin-top: 100px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

#resursbank-checkout-payment-history-modal-content table.footer-table th {
    color: #8c8c8c;
    font-weight: 400;
    padding: 0;
}

#resursbank-checkout-payment-history-modal-content table.footer-table td {
    color: #8c8c8c;
    font-weight: 400;
    padding: 0;
}

#resursbank-checkout-payment-history-modal-content table.footer-table tr:nth-of-type(2n+1) td {
    background-color: transparent;
}

#resursbank-checkout-payment-history-modal-content .subtitle .section .header {
    font-size: 15px;
    font-weight: bold;
    color: #8c8c8c;
    margin-bottom: 5px;
}

#resursbank-checkout-payment-history-modal-content .subtitle .section:nth-child(1n+2) {
    margin-top: 20px;
}

#resursbank-checkout-payment-history-modal-content table {
    width: 100%;
}

#resursbank-checkout-payment-history-modal-content td,
#resursbank-checkout-payment-history-modal-content th {
    padding: 10px;
}

#resursbank-checkout-payment-history-modal-content tr:nth-of-type(2n+1) td {
    background-color: #f1f1f1;
}

#row_resursbank_checkout_callback_url_list td.value {
    /* Alt: Wordwrap at url level. */
    /*word-break: break-all !important;
    overflow-wrap: break-word !important;*/
    font-size: 12px !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    width: 500px !important;
    display: block !important;
    overflow: scroll !important;
}
