<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
?>
<?php
/**
 * @var $block Magento\Sales\Block\Order\View
 */

/** @var Magento\Sales\Model\Order $order */
$order = $block->getOrder();

/** @var Resursbank\Checkout\ViewModel\Adminhtml\Sales\Order\View\Info\PaymentHistory $viewModel */
$viewModel = $block->getViewModel();
?>

<?php if ($viewModel->visible($order)) : ?>
    <?php 
        /** @var array $events */
        $events = $viewModel->getTableDataFromOrder($order);
    ?>


    <div id="resursbank-checkout-order-view-payment-history"
        data-bind="scope: 'payment-history'">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>

    <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "payment-history": {
                            "component": "Resursbank_Checkout/js/sales/order/view/info/payment-history",
                            "events": <?php echo json_encode($events); ?>,
                            "orderNumber": <?php
                                echo json_encode(
                                    $viewModel->getOrderNumber($order)
                                );
                            ?>,
                            "moduleVersions": <?php
                                echo json_encode($viewModel->getModuleVersions());
                            ?>,
                            "loggedInUser": <?php
                                echo json_encode(
                                    $viewModel->getLoggedInUsername()
                                );
                            ?>,
                            "environment": <?php
                                echo json_encode(
                                    $viewModel->getOrderEnvironment($order)
                                );
                            ?>
                        }
                    }
                }
            }
        }
    </script>
<?php endif; ?>