<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
?>
<?php
/**
 * @var $block \Resursbank\Checkout\Block\Adminhtml\Sales\Order\View\Info\ResursbankCheckout
 */
?>

<div id="resursbank-checkout-order-view-info">
    <div class="content">
        <?php  // The structure of these divs is intentional to properly support display:inline-block. ?>

        <?php // Payment information. ?>
        <h3><?php echo __('Payment Information') ?></h3>
        <?php if (!count($this->getPaymentInformation())): ?>
            <div class="field-group">
                <p class="error-message"><?php echo __('Payment information could not be retrieved from Resursbank.') ?></p>
            </div>
        <?php else: ?>
            <div class="field-group">
                <ul class="fields">
                    <?php // Payment ID. ?>
                    <li class="field">
                        <div class="field-label">
                            <?php echo __('Payment ID') ?>
                        </div><div class="field-value">
                            <?php echo $block->getPaymentId() ?>
                        </div>
                    </li>

                    <?php // Payment sum. ?>
                    <li class="field">
                        <div class="field-label">
                            <?php echo __('Order Total') ?>
                        </div><div class="field-value">
                            <?php echo $block->getPaymentTotal() ?>
                        </div>
                    </li>

                    <?php // Payment limit. ?>
                    <li class="field">
                        <div class="field-label">
                            <?php echo __('Limit') ?>
                        </div><div class="field-value">
                            <?php echo $block->getPaymentLimit() ?>
                        </div>
                    </li>

                    <?php // Status. ?>
                    <li class="field">
                        <div class="field-label">
                            <?php echo __('Status') ?>
                        </div><div class="field-value">
                            <?php echo $block->getStatus() ?>
                        </div>
                    </li>

                    <?php // Whether or not its frozen. ?>
                    <li class="field">
                        <div class="field-label">
                            <?php echo __('Frozen?') ?>
                        </div><div class="field-value">
                            <?php echo __(($block->isFrozen() ? 'Yes' : 'No')) ?>
                        </div>
                    </li>

                    <?php // Whether or not its fraud marked. ?>
                    <li class="field">
                        <div class="field-label">
                            <?php echo __('Fraud?') ?>
                        </div><div class="field-value">
                            <?php echo __(($block->isFraud() ? 'Yes' : 'No')) ?>
                        </div>
                    </li>

                    <?php // The used payment method. ?>
                    <li class="field">
                        <div class="field-label">
                            <?php echo __('Payment method') ?>
                        </div><div class="field-value">
                            <?php echo $block->getPaymentMethodName() ?>
                        </div>
                    </li>
                </ul>
            </div>

            <?php // Customer information. ?>
            <div class="field-group field-group-customer">
                <h3><?php echo __('Customer Information') ?></h3>
                <ul class="fields">
                    <!-- Customer name. -->
                    <li class="field">
                        <div class="field-label">
                            <?php echo __('Name') ?>
                        </div><div class="field-value">
                            <?php echo $block->getCustomerName() ?>
                        </div>
                    </li>

                    <!-- Customer address. -->
                    <li class="field">
                        <div class="field-label">
                            <?php echo __('Address') ?>
                        </div><div class="field-value">
                            <?php echo $block->getCustomerAddress() ?>
                        </div>
                    </li>

                    <!-- Customer telephone. -->
                    <li class="field">
                        <div class="field-label">
                            <?php echo __('Telephone') ?>
                        </div><div class="field-value">
                            <?php echo $block->getCustomerTelephone() ?>
                        </div>
                    </li>

                    <!-- Customer email. -->
                    <li class="field">
                        <div class="field-label">
                            <?php echo __('Email') ?>
                        </div><div class="field-value">
                            <?php echo $block->getCustomerEmail() ?>
                        </div>
                    </li>
                </ul>
            </div>
        <?php endif; ?>
    </div>
</div>
