<!--
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->

<div class="resursbank-checkout-simplified-flow field" data-bind="css: {_error: failedToFetchAddress }">
     <!-- ko if: showComponent() -->
        <div class="radio-list">
            <label>
                <input type="radio"
                       name="customerType"
                       value="NATURAL"
                       data-bind="checked: selectedCustomerType,
                       attr: {disabled: disableCustomerTypeSelection}">
                <span data-bind="i18n: 'Private person'"></span>
            </label>
            <label>
                <input type="radio"
                       name="customerType"
                       value="LEGAL"
                       data-bind="checked: selectedCustomerType,
                       attr: {disabled: disableCustomerTypeSelection}">
                <span data-bind="i18n: 'Company'"></span>
            </label>
        </div>
        <label for="resursbank-checkout-simplified-flow-id-number-field"
               data-bind="if: !isCompanyCustomer()">
            <span data-bind="i18n: 'SSN (YYYYMMDDXXXX)'"></span>
        </label>
        <label for="resursbank-checkout-simplified-flow-id-number-field"
               data-bind="if: isCompanyCustomer()">
            <span data-bind="i18n: 'Org. number (XXXXXXXXXX)'"></span>
        </label>
        <div class="control">
            <input type="text"
                id="resursbank-checkout-simplified-flow-id-number-field"
                class="input-text"
                data-bind="value: selectedIdNumber,
                attr: {disabled: disableIdNumberField}">
            <!-- ko if: failedToFetchAddress() -->
            <div class="field-error">
                <span data-bind="text: failedToFetchAddressError"></span>
            </div>
            <!-- /ko -->
        </div>
        <!-- ko if: showFetchAddressBtn() -->
            <button type="button"
                    class="action primary"
                    data-bind="click: onFetchBtnClick,
                    attr: {disabled: disableFetchBtn}">
                <span data-bind="i18n: 'Fetch address'"></span>
            </button>
        <!-- /ko -->
        <!-- ko if: showRemoveAddressBtn() -->
            <button type="button" 
                    class="action primary"
                    data-bind="click: onRemoveAddressBtnClick,
                    attr: {disabled: disableRemoveAddressBtn}">
                <span data-bind="i18n: 'Not you?'"></span>
            </button>
        <!-- /ko -->
    <!-- /ko -->
</div>
