<!--
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->

<!-- ko if: displayFee() -->
    <!-- ko if: displayExclTax() -->
    <tr class="totals resursbank_payment_fee excl">
        <th class="mark" scope="row">
            <span class="label" data-bind="text: getTitleExcl()"></span>
        </th>
        <td class="amount">
            <span class="price" data-bind="text: totalExcl, attr: {'data-th': title}"></span>
        </td>
    </tr>
    <!-- /ko -->
    <!-- ko if: displayInclTax() -->
    <tr class="totals resursbank_payment_fee incl">
        <th class="mark" scope="row">
            <span class="label" data-bind="text: getTitleIncl()"></span>
        </th>
        <td class="amount">
            <span class="price" data-bind="text: totalIncl, attr: {'data-th': title}"></span>
        </td>
    </tr>
    <!-- /ko -->
<!-- /ko -->
