<!--
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->

<div>
    <button type="button"
            class="action">
            <span data-bind="
                  i18n: 'View Payment History',
                  event: {click: openModal}"></span>
    </button>
    <div id="resursbank-checkout-payment-history-modal-content"
         class="content">
        <table>
            <thead>
            <tr>
                <th data-bind="i18n: 'Event'"></th>
                <th data-bind="i18n: 'Performed by'"></th>
                <th data-bind="i18n: 'When'"></th>
                <th data-bind="i18n: 'State From'"></th>
                <th data-bind="i18n: 'State To'"></th>
                <th data-bind="i18n: 'Status From'"></th>
                <th data-bind="i18n: 'Status To'"></th>
                <th data-bind="i18n: 'Additional information'"></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: events" afterRender="initModal">
            <tr>
                <td data-bind="text: event"></td>
                <td data-bind="text: user"></td>
                <td data-bind="text: timestamp"></td>
                <td data-bind="text: state_from"></td>
                <td data-bind="text: state_to"></td>
                <td data-bind="text: status_from"></td>
                <td data-bind="text: status_to"></td>
                <td data-bind="text: extra"></td>
            </tr>
            </tbody>
        </table>
        <div class="footer">
            <table class="footer-table">
                <thead>
                <tr>
                    <th data-bind="i18n: 'Administrator'"></th>
                    <th data-bind="i18n: 'Order'"></th>
                    <th data-bind="i18n: 'Module version'"></th>
                    <th data-bind="i18n: 'Environment'"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td data-bind="text: loggedInUser"></td>
                    <td data-bind="text: '#' + orderNumber"></td>
                    <td>
                        <b data-bind="i18n: 'Data'"></b>
                        <span data-bind="text: moduleVersions.data"></span> |
                        <b data-bind="i18n: 'Schema'"></b>
                        <span data-bind="text: moduleVersions.schema"></span> |
                        <b data-bind="i18n: 'Composer'"></b>
                        <span data-bind="text: moduleVersions.composer"></span>
                    </td>
                    <td data-bind="text: environment"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
