/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.remodal-wrapper .remodal {
    text-align: left;
}

.resursbank-modal {
    width: 100%;
    max-width: 1024px;
}



/*  ============================================================
    Hostedflow module.
    ============================================================ */

/*  <p> that couldn't be reached otherwise and needed som space. */
.resursbank-modal .main-container .main .col-main p {
    margin-top: 10px;
}

/*  Text above and below the table.
    ------------------------------------------------------------ */
.resursbank-modal .headText,
.resursbank-modal .tailText {
    display: inline-block;
}

.resursbank-modal .headText {
    margin-bottom: 10px;
}

.resursbank-modal .tailText {
    margin-top: 10px;
    font-style: italic;
    font-weight: 500;
}

/*  The table.
    ------------------------------------------------------------ */
.resursbank-modal table.priceTable {
    width: 100%;
}

.resursbank-modal table.priceTable tbody tr td {
    padding: 15px 0px;
}

/*  First column in table. */
.resursbank-modal table.priceTable tbody tr td.header {
    padding-left: 15px;
}

.resursbank-modal .oddRow {
    background-color: #F4F4F4;
}


.resursbank-loader {
    border: 0px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    animation: resursbank_spin 1s linear infinite;
}

@keyframes resursbank_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes resursbank_fade_out {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.resursbank-hide {
    display: none;
}
