/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

 @media screen and (min-width: 768px) {
     .resursbank-checkout-simplified-flow {
         max-width: 500px;
     }
 }

.resursbank-checkout-simplified-flow {
    margin: 20px 0px 15px;
}

.resursbank-checkout-simplified-flow button.action {
    margin: 10px 0 0;
}

 .resursbank-checkout-simplified-flow .radio-list {
     margin: 0 0 10px;
 }

 .resursbank-checkout-simplified-flow .radio-list > label {
     margin-right: 10px;
 }

 .payment-method .resursbank-payment-method-input > label {
     margin-bottom: 5px;
     display: block;
 }

.payment-method .resursbank-payment-method-contact-ssn {
    margin: 15px 0px 15px 0px;
}

.payment-method .resursbank-payment-method-card-number {
    margin-bottom: 15px;
}

.payment-method ._error .input-text {
    border-color: #ed8380;
}

.payment-method .required .label::after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}

/*
    Targets the logo for payment methods.
*/
.payment-method > .payment-method-title > img {
    width: 9%;
    height: 9%;
    float: right;
}
