/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.resursbank-checkout-message-wrapper {
    position: relative;
    display: none;
}

.resursbank-checkout-message {
    color: red;
    padding-top: 10px;
    position: absolute;
    text-align: right;
    display: block;
    width: 100%;
}

.resursbank-discount-code-error-wrapper {
    display: none;
}

.resursbank-discount-code-error-message {
    color: red;
    padding-top: 10px;
    display: block;
}





/*  ResursbankCheckout.
--------------------------------------------------------------------- */
.resursbank-checkout-clear {
    clear: both;
}


/*  Cart table.
--------------------------------------------------------------------- */
.checkout-index-index .cart-container .form-cart {
    width: 100%;
}

.checkout-index-index .cart-container .form-cart .actions {
    display: none;
}

.resursbank-checkout-disable-item {
    opacity: 0.3;
}


/*  Checkout steps.
--------------------------------------------------------------------- */
.checkout-index-index #checkout .opc-wrapper {
    float: none;
    width: 100%;
}

.checkout-index-index #checkoutSteps #shipping,
.checkout-index-index #checkoutSteps #shipping-method-buttons-container {
    display: none !important;
}


/*  Checkout steps - shipping methods.
--------------------------------------------------------------------- */
.checkout-index-index #checkoutSteps #opc-shipping_method {
    width: 55%;
    float: left;
    display: block;
    margin-right: 14%;
}

.checkout-index-index #checkoutSteps .table-checkout-shipping-method {
    min-width: 100%;
}


/*  Checkout steps - discount count.
--------------------------------------------------------------------- */
.checkout-index-index #checkoutSteps div.discount-code {
    width: 25%;
    float: left;
    display: block;
}

.checkout-index-index #checkoutSteps #block-discount-heading  {
    color: #1979c3;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.checkout-index-index #checkoutSteps div.discount-code .payment-option-inner,
.checkout-index-index #checkoutSteps div.discount-code .actions-toolbar {
    margin-top: 15px;
}

.checkout-index-index #checkoutSteps div.discount-code #resursbank-checkout-applied-discount-amount {
    color: #20b307;
    text-align: left;
    margin-top: 15px;
}


/*  Media queries.
--------------------------------------------------------------------- */
@media screen and (max-width: 639px) {
    .checkout-index-index #checkoutSteps div.discount-code,
    .checkout-index-index #checkoutSteps #opc-shipping_method {
        float: none;
        width: 100%;
    }

    .checkout-index-index #checkoutSteps div.discount-code {
        border-bottom:1px solid #ccc;
        margin: 20px -15px 15px;
        padding: 0px 15px 15px 15px;
    }

    .resursbank-checkout-message {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .checkout-index-index .cart-container .table-wrapper {
        border-top: none;
    }
}


/*  Error on checkout page.
--------------------------------------------------------------------- */
.checkout-index-index .resursbank-messages {
    text-align: center;
}

.checkout-index-index .resursbank-messages .payment-gateway-connection-error {
    font-size:20px;
    color:#aaa;
    width: 600px;
    margin: auto auto;
}


/*  Hide additional loading mask.
--------------------------------------------------------------------- */
#checkout-loader {
    display: none !important;
}


/*  Part payment.
--------------------------------------------------------------------- */
.resursbank-checkout-part-payment-info {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}
