<!--
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->

<div>
    <img data-bind="attr: {src: logoUrl}"
         class="resursbank-checkout-part-payment-logo" style="display: block; margin-bottom: 10px;"/>
    <span data-bind="text: suggestedPrice"
          class="resursbank-checkout-part-payment-price">
    </span>
    –
    <span data-bind="text: duration"></span>
    –
    <span>
        <a style="cursor:pointer; font-weight:bold;"
           data-bind="attr: {'data-remodal-target': remodalId},
                      event: {click: bindRemodal},
                      text: readMore"></a>
        <div class="remodal-bg">
            <div class="remodal resursbank-modal"
                 data-bind="attr: {'data-remodal-id': remodalId}">
                <button data-bind="attr: {'data-remodal-id': remodalId + '-close-btn'}"
                        data-remodal-action="close"
                        class="remodal-close">
                </button>
                <div>
                    <div class="resursbank-loader"
                         data-bind="css: {'resursbank-hide': hideRemodalLoader},
                                    attr: {id: remodalLoaderId}"></div>
                    <div bindHtml="remodalData"
                         data-bind="attr: {id: remodalContentId}"></div>
                </div>
            </div>
        </div>
    </span>
</div>
