<?php
/**
 * Copyright 2016 Resurs Bank AB
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
?>
<?php
/**
 * @var $this \Resursbank\Checkout\Block\Adminhtml\System\Config\Methods\Listing
 */
?>

<div>
    <h3><?php echo __('Available Payment Methods') ?></h3>
    <ul>
        <?php foreach ($this->getCollection() as $method): ?>
            <li class="no-style-type"><?php echo $method->getTitle(); ?></li>
        <?php endforeach; ?>
    </ul>
</div>
